@inherits LayoutComponentBase
@inject Services.userState admin

<div class="page">
    @if (admin.IsAdmin)
    {
        <div class="sidebar">
            <NavMenu />
        </div>
    }

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
